{% extends 'base_auth.html' %}
{% load static %}
{% load bootstrap4 %}
{% load rest_framework %}

{% block content %}
<style>
  .home{
    height: 620px;
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-image: url('https://thumbs.dreamstime.com/b/bakery-recipe-text-background-rustic-wooden-table-top-view-baking-cake-rural-kitchen-dough-ingredients-culinary-82287996.jpg');
  }
  .card{
    background-color: rgb(204, 196, 196);
    border-radius: 20px;
    font-size: 30px;
  }
  .title{
    color:rgb(235, 155, 70);
    font-size: 40px;
    background-color: white;
  }
  .btn{
    background-color:rgb(235, 155, 70);
    font-size: 20px;
  }
  .acc{
    font-size: 15px;
  }
  .link{
    font-size: 20px;
  }
</style>

<div class="row home">
  <div class="col-4"></div>
  <div class="col-4">
    <div class="card mt-5">
      <div class="card-body">
          {% if form.errors %}
          <p> Password or Username is incorrect </p>
        {% endif %}
        
          <div class="card-title py-2">
            <h1 class="title text-center rounded-pill">Classy Recipes</h1>
          </div>
            </form>
            <form  action="/accounts/login/" method="post">
              {% csrf_token %}
              {% bootstrap_form form%}
        
          <input type="submit" value="Login" class="btn btn-block rounded-pill fw-bold  py-4 submit-btn" />
        </form>
        <h6 class="ps-5 fw-bold acc">Don’t have an account? <a class="link text-warning fw-bold ps-2" href="{% url 'registration_register' %}">Register now</a></h6>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

{% endblock content %}