body{
    width:1920px;
  }
  .home{
    background-image: url("../images/Backgrounds/h_img.jpg");
    width:1920px;
    height:1071px;
    color: whitesmoke;
    text-align:center;
    padding-top: 350px;
    }
  .row-h1{
    font-size: larger;
  }
  .aboutus{
    background-color: white;
    text-align:center;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .services{
    text-align: center;
    background-image:url("../images/Backgrounds/s_image.jpg") ;
    padding-top: 150px;
    color:white;
    height:488px;
  }
  .whatwedo{
    text-align:center;
    padding-top:50px;
    padding-bottom:50px;
    font-size: smaller;
  }
  .portfolio{
    text-align: center;
  }
  .contact{
    background-image: url("../images/Backgrounds/c_image.jpg");
    background-position: cover;
    height:683px;
    width:1920px;
    color:white;
  }
  footer{
    text-align: center;
    padding-top:100px;
    font-size: small;
  }
  #design,#devhide,#producthide{
    display: none;
  }
  #mouse{
    padding-top: 260px;
  }
  #del{
    padding-top: 60px;
    font-size: 50px;
  }
  #delani{
    font-size: 60px;
  }
  .img{
    background-color: white;
    display:none;
    position: relative;
    top:-150px;
    margin:20px;
    opacity:0.4;
  }
  .form{
    background-image: none;
    opacity: unset;
  }
  #message{
    height:300px;
    width:80%;
  }
  #h2{
    text-align: center;
  }