{% if recipe_list %}

{% load static %}

<div class="row">

    <!-- Loop the iterates through the database-->
    {% for recipe in recipe_list %}
        <!-- Gets recipe id which is also the url to the recipe detail page-->
        <a class="recipe_block" href={% url 'recipe_detail' recipe.id %}>

            <!--If there is an image get the image path -->
            {% if recipe.image %}
                 <img class="recipe_block_view" src="{% static recipe.image.url %}">
            {% endif %}
            <!-- Gets the recipe name-->
            <p class="text-dark recipe_block_recipe_title">{{ recipe.name }}</p>

            <!-- The section below the recipe image  -->
            <div id ="recipe_block_info">
               
                <div class="star-ratings">
                    <div class="star-ratings-top" style="width: {{ recipe.avg_percent_rating }}"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                    <div class="star-ratings-bottom"><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></div>
                </div>

                <!-- Gets author name and recipe summary -->
                <p>
                    By: {{ recipe.user.username }}<br>
                    Description: {{ recipe.summary }}
                </p>
            </div>
        </a>
    {% endfor %}
</div>

    <!-- If there is no recipe print.. -->
{% else %}
    <p>No recipes are available.</p>
{% endif %}
